/* 
Application mise en forme avec bootstrap, le code Scss ne sert qu'à personnaliser le thème bootstrap et apporter quelques animations.

Lancers Sass : 
sass --watch ./src/style/SCSS/style.scss:./src/style/CSS/style.css
*/

@import "variables_overrides";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

i
{
    font-size: 1.4em;
}

.mini
{
    font-size: 0.6em;
}

.cursor-pointer
{
    cursor: pointer;
}

.logo{
    width: 10%;
    min-width: 4rem;
    max-width: 7rem;
    margin-right: 2%;
}

//mail table
.tableMail{
    width: 100%;
    tr{
        border-bottom: 2px solid $dark;
        td{
            padding: 5px;
            border-left: 1px solid $primary;
            border-right: 1px solid $primary;
        }
    }     
    //stripping the table   
    tr:nth-child(even) {
        background-color: $secondary;
      }
    thead{
        background-color: $primary;
        color: white;
        border-left: 1px solid $primary;
        border-right: 1px solid $primary;

        th{
            height: 3 em;
            padding: 5px;
            border-left: 1px solid $light;
            border-right: 1px solid $light;
        }
    }
    //hover on table rows
    tbody tr:hover
    {
        border: 3px solid $primary;
        cursor: pointer;

    }
}

//accessibilité
:focus
{
    border: solid 3px $primary;
}
